body {
  background-color: #333;
  height: 100%;
  }

.col-sm-12 {
  text-align: center;
  /*background-color: #0375B4;*/
  background-color: #333;
}

.navbar {
  text-align: center;
  color: #0375B4;
  background-color: #333;
}

.col-sm-4 {
  text-align: center;
}

#wrap {
  min-height: 100%;
}
#main {
  padding-bottom: 150px;
}

#newGame {
  margin-top: 100px;
  visibility: hidden;
}

#title {
  visibility: hidden;
}

#title h1 {
  font-size: 4em;
  width: 100%;
}

#title h2 {
  font-style: italic;
  font-size: 3em;
  width: 100%;
}

#title {
  visibility: hidden;
}

.footer {
  text-align: center;
  width: 100%;
  color: #0375B4;
  background-color: #333;
  bottom: 0;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {

  .footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    text-align: center;
    width: 100%;
    color: #0375B4;
    background-color: #333;
    bottom: 0;
    padding: 40px 0;
  }
}
