body {
  background-color: #333;
  max-height: 100%;
  }

  .col-sm-12 {
  text-align: center;
  /*background-color: #0375B4;*/
  background-color: #333;
}

.col-sm-4 {
text-align: center;
}


h1 {
  position: relative;
}

h2 {
  position: absolute;
  bottom: 0;
}

#newGame {
  visibility: hidden;
}
